# import libraries

In [33]:
import pandas as pd

# import data

In [15]:
df = pd.read_csv('sales_export.csv')

# EDA

In [16]:
# check the first few records
df2 = df.head(5)

In [ ]:
# get the info
# not 100% what this meant
df2 
df2.describe()

:

In [18]:
# display the column names
# I find myself open doing df.column.tolist() for legibility and easier indexing
df.columns

Index(['store_number', 'terminal', 'store_name', 'sale_id', 'customerid',
       'sale_date', 'product_description', 'sale_start_time', 'sale_end_time',
       'sale_type', 'line_number', 'cashier_number', 'cashier_name',
       'customer_name', 'customer_member_level', 'customer_phone',
       'customer_address', 'customer_city', 'customer_zip', 'product_code',
       'sub_department', 'sale_qty', 'sale_price', 'weight', 'price',
       'price_split', 'fs', 'fsa', 'tax1', 'tax2', 'tax3', 'tax4', 'tax5',
       'tax6', 'tax7', 'wic', 'scalable', 'follow_sub', 'price_type',
       'product_description.1', 'cost', 'case_size', 'void_flag',
       'refund_flag', 'price_modification', 'store_coupon', 'vendor_coupon',
       'category', 'category_description', 'sub_department_description',
       'vendor_id', 'vendor_name', 'package_discount', 'limited_discount',
       'item_discount_amount', 'item_discount_percent', 'elec_store_coupon',
       'qty', 'total_sales', 'customer_state', 'store_address', 'store_city',
       'store_state', 'store_zip', 'store_phone', 'brand', 'size', 'points',
       'redeemed_points', 'price_modification.1'],
      dtype='object')

## show voided items
void_flag should equal 1

In [ ]:
# you can also loc, but i like this syntax better even tho its less pythonic/idomatic
df[df['void_flag']== 1][['product_code','sale_type','void_flag']]

    product_code sale_type  void_flag
2   1.300000e+01      SALE          1
3   2.100060e+09      SALE          1
4   4.133383e+09      SALE          1
49  1.600029e+08      SALE          1

![voided](images/voided_items.png)

## show refund items
refund_flag should equal 1

![refunds](images/refunds1.png)

In [24]:
# change sale_type column to 'Refunded' for all refunded items and then show the results
# lots of way to do this, can use np, lambda func, df.assign but I think this is the best way
# i think technically pandas where is just np.where under the hood
df_refund = df.copy()
df_refund['sale_type'] = df['sale_type'].where(df_refund['refund_flag'] != 9, 'refunded')
df_refund[df_refund['sale_type']== 'refunded'][['product_code','sale_type','refund_flag']]

    product_code sale_type  refund_flag
5   8.500002e+09  refunded            9
48  4.133383e+09  refunded            9

![refund_result](images/refund_result.png)

In [32]:
# show unique values for the sale_type column
# my brain always defaults to set(df_refund['sale_type'].values.tolist()), much worse but i love sets
df_refund['sale_type'].unique()

array(['VOIDED', 'SALE', 'refunded'], dtype=object)

![unique](images/unique.png)